.table-container table {
  min-width: 650px;
}

.table-container tbody tr.selected {
  background-color: darkseagreen;
}

.table-container tbody tr td {
  cursor: pointer;
}

.table-container tbody tr:last-child td {
  border-bottom: 0;
  cursor: pointer;
}

.table-container .small {
  width: 10%;
  position: sticky;
  left: 0;
  background: #1a1a1a;
}

.table-container .large {
  width: 30%;
  text-align: center;
}
